/* imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

/* variables */

:root {
    /* Font Family */
    --ff-primary: 'Montserrat', sans-serif;

    /* Colors */
    --clr-black: #333333;
    --clr-grey: #4F4F4F;
    --clr-light-grey: #828282;
    --clr-white: #FFFFFF;
    --clr-blue: #2F80ED;

    --clr-white-hover: #F0ECEC;
    --clr-blue-hover: #0C6EF2;
    
    --bg-grey: #C4C4C4;

    /* Borders */
    --border-radius: 12px;
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.spinner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 6.4rem;

    display: flex;

    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 3.5rem;
}

.sidebar {
    /* display: grid; */
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

.board {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

.paper {
    padding: 2.4rem;
    background-color: var(--clr-white);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

/* User card */
.user-card {
   
}

.user-card__thumbnail {
    
}

.user-card__image{
    width: 100%;
    min-width: 23rem;
    border-radius: var(--border-radius);
}

.user_card__content{
    font-family: var(--ff-primary);
    margin: 2rem 0;
    display: grid;
    gap: 2.8rem;
}

.user-card__titles{
    display: grid;
    gap: .5rem;
}

.user-card__name {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--clr-grey)
}

.user-card__job {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--clr-light-grey);
}

.user-card__description {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--clr-light-grey);
}

.contact {
    font-size: 1.8rem;
    color: var(--clr-grey);
    display: flex;
    align-items: center;
    gap: 1.8rem;
    margin: 1rem 0;
}

.contact__text {
    /* font-size: 1.4rem; */
}

/* Skills card */
.skills {
    
    padding: 3rem;
    width: 100%;
    /* height: fit-content;  */
}

.skills__title {
    font-family: var(--ff-primary);
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--clr-grey);
    text-transform: uppercase;
}

.skills__item {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    margin: 1.5rem 0;
}

.skills__text {
    font-family: var(--ff-primary);
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--clr-grey);
}

/* Education */
.education {
    
}

.education__title {
    font-family: var(--ff-primary);
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--clr-grey);
    margin-bottom: 5rem;
}

.education__items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.education__item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    margin-bottom: 2rem;
}

.education__thumbnail {
    
}

.education__image {
    width: 100%;
    object-fit: contain;
}

.education__texts {
    font-family: var(--ff-primary);
    display: grid;
    gap: 1rem;
}

.education__date {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--clr-light-grey);
}

.education__text {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--clr-black);
    margin-bottom: 2rem;;
}

.education__description {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--clr-light-grey);
}

/* buttons */
.btn {
    font-family: var(--ff-primary);
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--clr-light-grey);
    padding: .5rem 2rem;

    background-color: var(--clr-white);
    border: 1px solid var(--clr-grey);
    border-radius: var(--border-radius);

    cursor: pointer;
    transition: all 300ms;
}

.btn-lg {
    padding: 1.3rem 4rem;
    font-size: 1.8rem;
}

.btn:hover {
    background-color: var(--clr-white-hover);
}

.btn--blue {
    border: 1px solid transparent;
    background-color: var(--clr-blue);
    color: var(--clr-white);
}

.btn--blue:hover {
    background-color: var(--clr-blue-hover);
}

.btn--pagination {
    border-radius: 6px;
    padding: 1rem 2.7rem;
    background-color: none;
    border: .5px solid var(--clr-light-grey);
}

/* Filter */
.filter{
    height: fit-content;
}

.filter__title {
    font-family: var(--ff-primary);
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--clr-grey);
}

.filter__buttons{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

/* Projects */
.projects {    
    display: grid;
    gap: 3rem;
    margin-top: 2rem;
}

.project-container{
    position: relative;
    
}

.project {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 2rem;
}

.project__thumbnail{
    /* Cambiar */
    /* width: 322px;
    height: 274px; */
    /* display: flex; */
    border-radius: var(--border-radius);
}

.project__image{
    width: 100%;
    min-width: 21rem;
    border-radius: var(--border-radius);    
    object-fit: contain;
}

.project__body{
    position: relative;
}

.project__labels{
    display: flex;
    gap: 1.4rem;
    padding-top: .5rem;
}

.fa-brands {
    font-size: 2.5rem;
}

.project__label {
    font-family: var(--ff-primary);
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--clr-grey);
}

.project__title {
    font-family: var(--ff-primary);
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--clr-black);   
    margin: 2rem 0; 
}

.project__description {
    font-family: var(--ff-primary);
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--clr-light-grey);
    margin-bottom: 4rem;
    padding-bottom: 2rem;
    
}

.project__buttons{
    display: flex;
    gap: 1.3rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

.pagination {
    display: flex;
    gap: .2rem;
    position: absolute;
    right: 2rem;
    bottom: -6rem;
}

/* Hobbies */
.hobbies {
    
}

.hobbies__title{
    font-family: var(--ff-primary);
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--clr-grey);
    margin-bottom: 2rem;
}

.hobbies__item{
    margin-bottom: 1rem;
}

.hobbies__container{
    display: grid;
    gap: 3rem;
}

.hobbie__image{
    width: 100%;
    min-width: 20rem;
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
}

.hobbie__title{
    font-family: var(--ff-primary);
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--clr-black);
    margin: 1rem 0;
}

.hobbie__description{
    font-family: var(--ff-primary);
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--clr-light-grey);
}

/* backdrop */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.27);
    transition: all .4s;
}

/*Speed Dial*/
.speed-dial{
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background-color: var(--clr-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: var(--clr-white);
    transition: all 300ms;
    cursor: pointer;
    z-index: 2;

    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

.speed-dial:hover {
    transform: scale(1.1);
    background-color: var(--clr-blue-hover);
    font-size: 4.2rem;
}  

.scroll-top {
    width: 5rem;
    height: 5rem;
    font-size: 2.5rem;
    margin-bottom: 11rem;
    margin-right: 2rem;
    background-color: var(--clr-light-grey);
}

.scroll-top:hover {
    width: 5rem;
    height: 5rem;
    font-size: 2.5rem;
    background-color: var(--clr-grey);
}


/* Chat */
.chat {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 2.5rem;
    bottom: 13rem;
    z-index: 1;
    gap: 3rem;
    transition: background-color 0.4s, opacity 0.4s, transform .4s;

    opacity: 0;
    transform: translate(1rem, 4rem);
    visibility: hidden;
}

.btn--hidden {
    display: none;
}


.chat--active {
    opacity: 1;
    transform: translate(0, 0);
    visibility: visible;

}

.chat__title {
    font-family: var(--ff-primary);
    font-weight: 700;
    font-size: 2.4rem;
    color: var(--clr-black);
}

.chat__form {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.label {
    font-family: var(--ff-primary);
    font-weight: 500;
    font-size: 1.5rem;
}

.input {
    font-family: var(--ff-primary);
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--clr-grey);
    padding-left: 1rem;
    height: 4rem;
    border-radius: 4px;
    border: 1px solid var(--clr-light-grey);
}

textarea{
    font-family: var(--ff-primary);
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--clr-grey);
    padding: .5rem;
    resize: none;
}

/* snackbar */
.snackbar {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    border: 1px solid var(--clr-grey);
    padding: 1.8rem 8rem;

    font-family: var(--ff-primary);
    font-weight: 500;
    font-size: 1.4rem;
    
    transform: translateX(-200%);
    opacity: 0;
    visibility: hidden;

    transition: background-color 0.4s, opacity 0.4s, transform .4s;
}

.snackbar--active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.snackbar--success {
    background-color: #4d9a51;
    color: var(--clr-white);
    border: none;
    border-radius: 4px;
}

@media screen and (max-width: 1200px){
    html {
        font-size: 55%;
    }
}

@media screen and (max-width: 1050px) {
    .projects {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }

    .project {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 800px){
    html {
        font-size: 50%;
    }

    .container{
        display: flex;
        flex-direction: column;
    }
}