/* imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

/* variables */

:root {
    /* Font Family */
    --ff-primary: 'Montserrat', sans-serif;

    /* Colors */
    --clr-black: #333333;
    --clr-grey: #4F4F4F;
    --clr-light-grey: #828282;
    --clr-white: #FFFFFF;
    --clr-blue: #2F80ED;
    --bg-grey: #C4C4C4;

    /* Borders */
    --border-radius: 12px;
}

